*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}


:root{
    --body-bg:black;
    --nav-text-fz:18px;
    --nav-item-bg:rgba(128, 128, 128, 0.187);
    --more-item-bg:rgb(38, 38, 38);
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--body-bg);
}

#nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    border-right: 1px solid var(--more-item-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.fa{
    font-size: 1.4rem !important;
    transition: all 0.3s;
}

.nav-item{
    font-size: var(--nav-text-fz);
    color: #fff;
    padding: 10px 20px;
    width: 210px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}
#nav .nav-title-logo {
    display: none;
}
.bg-hover:hover{
    background-color: var(--nav-item-bg) !important;
    cursor: pointer;
    transition: all 0.3s;
}
.nav-item:hover > i , .nav-item:hover > a i{
    transform: scale(1.2);
    transition: all 0.3s;
}
/*nav title link*/
#nav .nav-title{
    color: #fff;
    background-color: transparent !important;
    font-size: 1.9rem;
    
}

/*nav links*/
.mr-6{
    margin-right: 10px !important;
}

#nav #nav-links{
    height: 70%;
}

#nav #nav-links .item{
    margin: 10px 0;
  
}

#nav #nav-links .item .link{
    width: 100%;
    color: #fff;
  
}

.item .link i{
    
}
nav span{
    margin-left: 5px;
}
#nav-more-btn span{
    margin-left: 20px;
}
nav .fa-heart{
    position: relative;
}
nav .fa-heart::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}
/*more btn in nav*/
#nav #nav-more-btn{
    background-color: transparent;
    border: none;
    position: relative;
}
#nav #nav-more-btn:focus > #more-items{
    display: flex;
   
}

#nav-more-btn  #more-items{
    position: absolute;
    left: 0;
    bottom: 110%;
    width: 240px;
    height: 320px;
    border-radius: 10px;
    background-color: var(--more-item-bg);
    display: none;
    flex-direction: column;
    transition: all 1s;

}
a.bg-hover  > button {
    background-color: none;
}
#more-items a{
    font-size: 0.9rem;
    margin: auto;
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

#nav #nav-more-btn i{
    
}


/*--------MAIN EXPLORE*/
#main{
    width: 76vw;
    min-height: 100%;
    position: absolute;
    right: 3%;
    top: 4%;
    display: flex;
   
}

#main #explore{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main #explore .explore-row{
    display: flex;
}

.img-left{
    flex-direction: row-reverse;
}



#explore .item{
    margin:2px;
    cursor: pointer;
    position: relative;
}

#explore .item .post-info{
    z-index: 10;
    color: white;
    position: absolute;    
    top: 50%;
    left: 30%;
    align-items: center;
    align-content: center;
    font-weight: bold;
    font-size: 1.1rem;
    display: none;
}

#explore .item .post-info .line,.comments{
    margin: 0 30px;
    text-align: center;
}

#explore .item img{
  
}

#explore .item:hover::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--nav-item-bg);
}

#explore .item:hover > .post-info{
    display: flex;
}

#main #explore .explore-row .image-posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 90%;
}


.image-posts .item img{
    width: 300px;
    height: 300px;
}

